<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetDesigner Woes</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <h1>NetDesigner Woes</h1>

    <h2>Document your NetDesigner woes below:</h2>
    <form action="/netdesigner" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="issue" name="issue">
        <input type="text" placeholder="wishes" name="wishes">
        <input type="text" placeholder="actionTaken" name="actionTaken">
        <input type="text" placeholder="solution" name="solution">
        <button type="submit">Submit</button>
      </form>
    <script src="/public/js/main.js"></script>
</body>

</html>